{% extends 'templateNavBar.html' %}
{% block content %}
<div class="container text-center">
  <div class="row">
    {%for consulta6 in consulta6%}
    <div class="col">
      <span>FORMATO NO. </span> <input type="" value="{{consulta6.0}}" disabled>
    </div>
    <div class="col">
      <span>NOMBRE DEL BALANCE: </span><input type="text" value="{{consulta6.1}}" disabled>
    </div>
   {%endfor%}
  </div>
</div>

<div class="container text-center border-primary">

 
    <div class="row g-3">
      <div class="col-6">
        <table class="table">

        <thead>
          <tr>
            <th scope="col" colspan="4">ACTIVO CIRCULANTE </th>
          </tr>
        </thead>
    

          
          <tbody>
            {%for consulta in consulta%}
             <!--ESTE IF ES PARA LOS CONCEPTOS-->
            <tr >
              <th scope="col" style="text-align: left;">{{consulta.1}}</th>
              <th scope="col" style="text-align: left;">$ {{consulta.0}}</th>
              
            </tr>
            
            {%endfor%}
            {%for resultadoAC in resultadoAC%}
            <tr>
              <th>TOTAL </th>
              <th><span>$ </span>{{resultadoAC}}</th>
              
            </tr>
            {%endfor%}

          </tbody>
        </table>
      </div>
      
      
      <div class="col-6">
        <div class="p-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4" value="1">PASIVO CIRCULANTE</th>
              </tr>
            </thead>
      
      
            <tbody>
              {%for consulta3 in consulta3%}
              <!--ESTE IF ES PARA LOS CONCEPTOS-->
              <tr>
                <th scope="col" style="text-align: left;">{{consulta3.1}}</th>
                <th scope="col" style="text-align: left;">$ {{consulta3.0}}</th>
      
              </tr>
      
              {%endfor%}
              {%for resultadoPC in resultadoPC%}
              <tr>
                <th>TOTAL </th>
                <th><span>$ </span>{{resultadoPC}}</th>
      
              </tr>
              {%endfor%}
      
            </tbody>
          </table>
      
        </div>
      </div> 
    </div>
      
      <div class="row g-3">
        <div class="col-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4" value="1">ACTIVO FIJO</th>
              </tr>
            </thead>
      
      
            <tbody>
              {%for consulta1 in consulta1%}
              <!--ESTE IF ES PARA LOS CONCEPTOS-->
              <tr>
                <th scope="col" style="text-align: left;">{{consulta1.1}}</th>
                <th scope="col" style="text-align: left;">$ {{consulta1.0}}</th>
      
              </tr>
      
              {%endfor%}
              {%for resultadoAF in resultadoAF%}
              <tr>
                <th>TOTAL </th>
                <th><span>$ </span>{{resultadoAF}}</th>
      
              </tr>
              {%endfor%}
      
            </tbody>
          </table>
        </div>
        
      

        <div class="col-6">
          <div class="p-3">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" value="1">PASIVO FIJO</th>
                </tr>
              </thead>
        
        
              <tbody>
                {%for consulta4 in consulta4%}
                <!--ESTE IF ES PARA LOS CONCEPTOS-->
                <tr>
                  <th scope="col" style="text-align: left;">{{consulta4.1}}</th>
                  <th scope="col" style="text-align: left;">$ {{consulta4.0}}</th>
        
                </tr>
        
                {%endfor%}
                {%for resultadoPF in resultadoPF%}
                <tr>
                  <th>TOTAL </th>
                  <th><span>$ </span>{{resultadoPF}}</th>
        
                </tr>
                {%endfor%}
        
              </tbody>
            </table>
        
          </div>
        </div>
      </div>
        
      
      

      <div class="row g-3">
        <div class="col-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4" value="1">ACTIVO DIFERIDO</th>
              </tr>
            </thead>
      
      
            <tbody>
              {%for consulta2 in consulta2%}
              <!--ESTE IF ES PARA LOS CONCEPTOS-->
              <tr>
                <th scope="col" style="text-align: left;">{{consulta2.1}}</th>
                <th scope="col" style="text-align: left;">$ {{consulta2.0}}</th>
      
              </tr>
      
              {%endfor%}
              {%for resultadoAD in resultadoAD%}
              <tr>
                <th>TOTAL </th>
                <th><span>$ </span>{{resultadoAD}}</th>
      
              </tr>
              {%endfor%}
      
            </tbody>
          </table>
        </div>
      

      <div class="col-6">
        <div class="p-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4" value="1">PASIVO DIFERIDO</th>
              </tr>
            </thead>
      
            <tbody>
              {%for consulta5 in consulta5%}
              <!--ESTE IF ES PARA LOS CONCEPTOS-->
              <tr>
                <th scope="col" style="text-align: left;">{{consulta5.1}}</th>
                <th scope="col" style="text-align: left;">$ {{consulta5.0}}</th>
      
              </tr>
      
              {%endfor%}
              {%for resultadoPD in resultadoPD%}
              <tr>
                <th>TOTAL </th>
                <th><span>$ </span>{{resultadoPD}}</th>
      
              </tr>
              {%endfor%}
      
            </tbody>
          </table>
          </div>
        </div>
      </div>


        <div class="row g-3">
          <div class="col-6">
              <table class="table" id="miTabla">
                <thead>
                  <tr>
                    <th scope="col" colspan="4">TOTAL DE ACTIVOS</th>
                    <th scope="col">$ {{resultadoA}}</th>
                  </tr>
                </thead>
          
              </table>
            </div>
            <div class="col-6">
              <div class="p-3">
                <table class="table" id="miTabla">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4">TOTAL DE PASIVOS + CAPITAL</th>
                      <th scope="col">$ {{resultadoPasiCapi}}</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
          

          <div class="row g-3">
            <div class="col-6">
              <table class="table" id="miTabla">
                <thead>
                  <tr>
                    <th scope="col" colspan="4">CAPITAL SOCIAL</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {%for consulta7 in consulta7%}
                  <!--ESTE IF ES PARA LOS CONCEPTOS-->
                  <tr>
                    <th scope="col" style="text-align: left;">{{consulta7.1}}</th>
                    <th scope="col" style="text-align: left;"> $ {{consulta7.0}}</th>
                
                  </tr>
                
                  {%endfor%}

                  <tr>
                    <th scope="col" style="text-align: left;">UTILIDAD DEL EJERCICIO</th>
                    <th scope="col" style="text-align: left;">$ {{resultadoUE}}</th>
                  
                  </tr>

                  <tr>
                    <th scope="col" style="text-align: left;">TOTAL CAPITAL SOCIAL</th>
                    <th scope="col" style="text-align: left;">$ {{resultadoCS}}</th>
                  </tr>
                </tbody>
              </table>
            </div>

          <div class="col-6">
            <div class="p-3">
                <table class="table" id="miTabla">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4">ESTADO DE RESULTADO</th>
            
                    </tr>
                  </thead>
                  <tbody>
                    {%for consulta8 in consulta8%}
                    <tr>
                      <th scope="col" style="text-align: left;">{{consulta8.1}}</th>
                      <th scope="col" style="text-align: left;">$ {{consulta8.0}}</th>
            
                    </tr>
                    {%endfor%}
                    {%for consulta9 in consulta9%}
                    <tr>
                      <th scope="col" style="text-align: left;">{{consulta9.1}}</th>
                      <th scope="col" style="text-align: left;">$ {{consulta9.0}}</th>
                    
                    </tr>
                    {%endfor%}
                    <tr>
                      <th scope="col" style="text-align: left;">UTILIDAD BRUTA</th>
                      <th scope="col" style="text-align: left;">$ {{resultadoUB}}</th>
                    </tr>
                    {%for consulta10 in consulta10%}
                    <tr>
                      <th scope="col" style="text-align: left;">{{consulta10.1}}</th>
                      <th scope="col" style="text-align: left;">$ {{consulta10.0}}</th>
                    
                    </tr>
                    {%endfor%}

                    <tr>
                      <th scope="col" style="text-align: left;">UTILIDAD DEL EJERCICIO</th>
                      <th scope="col" style="text-align: left;">$ {{resultadoUE}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>          
</div>
{% endblock %}